.home {
  animation: gradient 15s ease infinite;
  position: relative;
  height: 85vh;
  overflow: hidden;
}


.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: var(--title-color);
    }

    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
    }

    .profile-picture {
        margin-bottom: 30px;
        height: 400px;
        z-index: 1;
    }

    .download {
      color: var(--title-color);
      outline: none;
      background: transparent;
      border: none;
      margin-left: 0;
  }
}

